<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- صلاحيات الاتصال بالشبكة لتحميل إعلانات WebView -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- لا تحتاج لإضافة أي Activity هنا طالما أنك تعرض الـ WebView داخل النشاط الرئيسي لـ Godot -->
    </application>

</manifest>
